.btn{
  border:1px solid #ddd;
  color:#ddd;
  background-color:transparent;
  font-family: 'gothammedium', Helvetica, Arial, sans-serif;
  @include vendor(transition, .5s);
}
.btn:hover {
  border-color:#82bc00;
  color:#82bc00;
  background-color:rgba(255,255,255,.05);
}
