.process{
  min-height:100%;
  padding:10% 20% 10% 20%;
  font-family: 'gothambook', Helvetica, Arial, sans-serif;
  @include linear-gradient(rgb(16,17,20), rgb(0,0,0));
  @include media-query(palm){
    padding:10% 5% 5% 5%;
  }




}

.process__header{

}

.process__text{
  color: #fff;
}